<h2>Approve $pageName?</h2>
<form method="POST">
 <p>Are you sure you want to approve $pageName?</p>
 #if( $approveSubPages )<p class="warning">Warning, this page contains one or more subpages.</p>#end
 <input type="submit" name="confirmed" value="Yes"/>
 <a class="button" href="$pageName" accesskey="n">No</a>
</form>
